*{
    padding: 0;
    margin: 0;
}

.tableau-style{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border-collapse: collapse;
    min-width: 400px;
    width: 80%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 15);
    cursor: pointer;
    border:1px solid black;
    margin: 30px auto;
}
thead tr{
    background-color: rgb(43, 43, 60);
    color: aliceblue;
    text-align: left;
}
th,td{
    padding: 15px 20px;
}
tbody tr ,td ,th{
    border: 1px solid #ddd;
}
tbody tr:nth-child(even){
    background-color: rgb(237, 237, 237);
}
h2{
       /* display: flex; */
    /* justify-content: center; */
    margin-top: 6%;
    font-size: 4rem;
    margin-bottom: 0%;
}
.button{
background-color: rgb(79, 79, 103);
color: aliceblue;
border: none;
border-radius: 5px;
width: 250px;
height: 33px;
margin: 1% 40%;

}
button a{
    color: aliceblue;
}
.botton-modifier{
    background-color: rgb(65, 81, 228);
    color: aliceblue;
    border-radius: 4px;
    border: none;
    height:fit-content;
    width: fit-content;
    font-size: 12px;
    margin-left: 10%;
    padding: 4px 8px;
}
.botton-suprimer{
    background-color: rgb(169, 47, 47);
    color: rgb(251, 247, 247);
    border-radius: 4px;
    border: none;
    height:fit-content;
    width: fit-content;
    font-size: 12px;
    margin-left: 10%;
    padding: 4px 6px;
}

/* partie Ajouter un membre */

.ajouter{
    background-color: rgb(79, 79, 103);
    display: flex;
    flex-direction: column;
   width: 60%;
   margin: 11% auto;
   border-radius: 10px;
   box-shadow: 0 3px 30px rgba(0, 0, 0, 15);
}
input{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border-radius: 2px;
    border: none;
    height: 20px;
    
}
select{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border-radius: 2px;
    border: none;
    height: 20px;
}

.ajouter h2{
    color: aliceblue;
    margin-bottom: 3%;
    font-size: 25px;
}
.enregistrer {
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    padding: 7px 20px;
    margin: 10px auto;
    background-color: rgb(60, 89, 156);
    color: aliceblue;
    border: none;
    border-radius: 5px;
}

.clubs-botton-modifier{
    background-color: rgb(65, 81, 228);
    color: rgb(251, 247, 247);
    border-radius: 4px;
    border: none;
    height:fit-content;
    width: fit-content;
    font-size: 12px;
    margin-left: 10%;
    padding: 4px 10px;
    margin-right: 35%;
    margin-bottom: 2%;
}
.clubs-botton-suprimer{
    background-color: rgb(169, 47, 47);
    color: rgb(251, 247, 247);
    border-radius: 4px;
    border: none;
    height:fit-content;
    width: fit-content;
    font-size: 12px;
    margin-left: 10%;
    padding: 4px 6px;

}